body {
  background-color: rgb(240, 240, 240);
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
}

header p {
  margin: 0;
  font-size: 1.3rem;
}

header p i {
  font-weight: normal;
}

.hero {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

.hero-title {
  text-transform: uppercase;
  font-weight: 600;
}

.hero-text {
  color: grey;
}

.hero-btn {
  color: white;
  border: none;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(204, 185, 221) 0%, rgba(86, 186, 251, 1) 100%);
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.hero__img {
  text-align: center;
}

.hero-img {
  max-width: 60%;
}

.services {
  width: 90%;
  text-align: center;
  padding: 3rem 0;
}

.services__title {
  font-size: 2.2rem;
  font-weight: 600;
}

.services__text {
  color: grey;
  padding-bottom: 3rem;
  font-size: 0.9rem;
}

.services__list-item {
  margin-bottom: 2em;
}

.services__list-item i {
  font-size: 2em;
  padding-bottom: 2rem;
}

.services__list-item h3 {
  font-weight: normal;
}

.numbers {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(204, 185, 221) 0%, rgba(86, 186, 251, 1) 100%);
  text-align: center;
}

.numbers__item {
  padding: 2rem;
  color: white;
}

.numbers__item-num {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
}
