@media screen and (min-width: 768px) {
    nav {
        display: none;
    }

    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero__left {
        flex-basis: 30%;
    }

    .hero__right {
        text-align: right;
    }

    .hero__img {
        flex-basis: 65%;
    }

    .hero-img {
        height: 100%;
    }

    .services__text {
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }

    .services__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .numbers.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .burger {
        display: none;
    }

    nav {
        display: flex;
    }

    nav a {
        padding-left: 1.5em;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .services__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .numbers.container {
        display: flex;
        justify-content: space-around;
    }
}