/* HERO ================= */

.hero {
  padding: 1.5rem 0 1rem 0rem;
  color: #585858;
}

.hero img {
  width: 40%;
  padding-bottom: 3%;
}

.hero p {
  line-height: 1.75;
}

/* TILES ================= */

.tiles__item {
  position: relative;
  color: whitesmoke;
  margin-bottom: 2rem;
}

.tiles__item img {
  border-radius: 5px;
}

.tiles__item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tiles__item::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.tiles-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tiles__item-1 {
  position: relative;
  background: linear-gradient(to right, rgba(231, 87, 51, 0.7), rgba(231, 87, 51, 0.7)), url("https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80") no-repeat center;
  background-size: cover;
  border-radius: 5px;
}

.tiles__item-2 {
  position: relative;
  background: linear-gradient(to right, rgba(51, 233, 233, 0.7), rgba(51, 233, 233, 0.7)), url("https://images.unsplash.com/photo-1488188840666-e2308741a62f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80") no-repeat center;
  background-size: cover;
  border-radius: 5px;
}

.tiles__item-3 {
  position: relative;
  background: linear-gradient(to right, rgba(144, 65, 235, 0.7), rgba(144, 65, 235, 0.7)), url("https://images.unsplash.com/photo-1523306801845-480ee4445283?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80") no-repeat center;
  background-size: cover;
  border-radius: 5px;
}

.tiles__item-4 {
  position: relative;
  background: linear-gradient(to right, rgba(129, 129, 129, 0.7), rgba(129, 129, 129, 0.7)), url("https://images.unsplash.com/photo-1495745966610-2a67f2297e5e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") no-repeat center;
  background-size: cover;
  border-radius: 5px;
}

/* FOOTER ================= */
footer {
  color: #585858;
  background: #ebebeb;
}

footer h3 {
  text-transform: uppercase;
  padding: 1rem 0;
}

footer .container {
  padding: 2rem 20px;
}

footer p {
  margin-bottom: 0;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.container__footer a {
  margin-bottom: 2rem;
}

.container__footer a i {
  border: solid 1px #c9c9c9;
  border-radius: 4px;
  width: 2.65em;
  height: 2.65em;
  display: inline-block;
  text-align: center;
  line-height: 2.65em;
  color: inherit;
  font-size: 1.3rem;
}

/* FORM ================= */

form label {
  font-weight: lighter;
  margin-bottom: 1.2rem;
  color: #9e9e9e;
}

form input,
textarea {
  margin-bottom: 1.2rem;
  width: 100%;
  border: none;
  background-color: #ebebeb;
  outline: none;
  border-bottom: 1px solid rgb(184, 184, 184);
  resize: none;
}

form button {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 2.5rem;
  border: none;
  text-transform: uppercase;
  background-color: rgb(99, 99, 99);
  color: white;
  letter-spacing: 5px;
  font-weight: bolder;
  border-radius: 5px;
}

form p {
  font-size: 0.9rem;
  color: rgb(99, 99, 99);
}

.mobile-display-none {
  display: none;
}

@media screen and (min-width: 450px) {
  .tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .footer__follow {
    text-align: center;
  }

  .footer__follow h3 {
    text-align: left;
  }

  .container__footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .mobile-display-none {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .container__footer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .footer__form {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    gap: 1rem;
  }

  footer form button {
    width: 20%;
  }
  .mobile-display-none {
    display: inline-block;
  }
}
